{{ define "page" }}
<div class="container">
    <h2 style="display:inline">Tạo kỳ thi mới</h2>
    <hr>
    {{ if .Data.Error }}
    <div style="color: red; margin-bottom: 15px;">{{ .Data.Error }}</div>
    {{ end }}
    <div id="content-body">

<form action="/admin/contests/create" class="form-area" method="post" style="display: flex; justify-content: center; flex-direction: column;">
<input type="hidden" name="csrf_token" value="{{ .CsrfToken }}">
<table class="django-as-table"><tbody><tr class="required"><th><label class="required" for="id_key">Mã kỳ thi:</label></th><td><input id="id_key" maxlength="20" name="key"  type="text"/><br/><span class="helptext">Mã kỳ thi. Phải bắt đầu bằng một chữ cái và chỉ chứa các chữ cái, số, hoặc dấu gạch dưới (_).</span></td></tr>
<tr class="required"><th><label class="required" for="id_name">Tên kỳ thi:</label></th><td><input id="id_name" maxlength="100" name="name"  type="text" required=""><br/><span class="helptext">Tên kỳ thi (hiển thị trên danh sách kỳ thi).</span></td></tr>
<tr class="required"><th><label class="required" for="id_start_time">Thời gian bắt đầu:</label></th><td><input class="datetimepicker" id="id_start_time" name="start_time"  type="datetime-local"/></td></tr>
<tr class="required"><th><label class="required" for="id_end_time">Thời gian kết thúc:</label></th><td><input class="datetimepicker" id="id_end_time" name="end_time"  type="datetime-local"/></td></tr>
<tr><th><label for="id_time_limit">Giới hạn thời gian (tính bằng phút):</label></th><td><input id="id_time_limit" name="time_limit" step="any" type="number"/><br/><span class="helptext">Thời gian làm bài cho một thí sinh. Có thể là số thập phân. Nếu để trống, kỳ thi sẽ không giới hạn thời gian và kết thúc vào thời điểm được định sẵn (như kỳ thi thật).</span></td></tr>
<tr><th><label for="id_is_visible">Công khai:</label></th><td><input checked="" id="id_is_visible" name="is_visible" type="checkbox"/><br/><span class="helptext">Mọi người có thể thấy kỳ thi này. (Bất kể kỳ thi có riêng tư hay không)</span></td></tr>
<tr><th><label for="id_description">Mô tả kỳ thi:</label></th><td><textarea id="id_description" name="description"></textarea></td></tr>
</tbody></table>
<hr/>
<input id="submit-button" type="submit" value="Tạo"/>
</form>
<link href="https://unpkg.com/easymde/dist/easymde.min.css" rel="stylesheet"/>
<script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        if(document.getElementById('id_description')) {
            new EasyMDE({element: document.getElementById('id_description')});
        }
    });
</script>


</div>
</div>
{{ end }}
